<div class="row">
	<div class="{{cssPrefix}}btn-group col sixcol">
		<input class="{{cssPrefix}}form-elem"type="text" placeholder="Search...">
		<div class="{{cssPrefix}}btn primary">Submit</div>
	</div>
	<div class="{{cssPrefix}}btn-group col sixcol">
		<select class="{{cssPrefix}}form-elem" name="findstuff" id="stuffs">
			<option value="null">example thing</option>
			<option value="null">example thing</option>
			<option value="null">example thing</option>
			<option value="null">example thing</option>
			<option value="null">example thing</option>
		</select>
		<div class="{{cssPrefix}}btn primary">Submit 1</div>
		<div class="{{cssPrefix}}btn primary">Submit 2</div>
	</div>
</div>