<a href="#" class="{{cssPrefix}}btn {{modifier_class}} hollow">Link Button</a>
<button class="{{cssPrefix}}btn {{modifier_class}}">Button Element</button>
<button class="{{cssPrefix}}btn {{modifier_class}}">Button Element</button>
<input type="button" class="{{cssPrefix}}btn {{modifier_class}}" value="input[type='button']"/>
<input type="button" class="{{cssPrefix}}btn {{modifier_class}}" value="input[type='button']" disabled/>
<!--<a href="#" class="{{cssPrefix}}btn {{modifier_class}} disabled">Link Button</a>-->