<div class="row">
	<div class="col twocol">
		<div class="{{cssPrefix}}cards {{modifier_class}} text-center" style="line-height: 300px;">.default</div>
	</div>
	<div class="col twocol">
		<div class="{{cssPrefix}}cards {{modifier_class}} text-center rounded" style="line-height: 300px;">.rounded</div>
	</div>
	<div class="col twocol">
		<div class="{{cssPrefix}}cards {{modifier_class}} text-center no-border" style="line-height: 300px;">.no-border</div>
	</div>
	<div class="col twocol">
		<div class="{{cssPrefix}}cards {{modifier_class}} text-center rounded shadow" style="line-height: 300px;">.rounded.shadow</div>
	</div>
	<div class="col twocol">
		<div class="{{cssPrefix}}cards {{modifier_class}} text-center shadow" style="line-height: 300px;">.shadow</div>
	</div>
	<div class="col twocol">
		<div class="{{cssPrefix}}cards {{modifier_class}} text-center no-border shadow" style="line-height: 300px;">.no-border.shadow</div>
	</div>
</div>
<hr/>