<div class="row">
	<div class="col twocol">
		<div class="{{cssPrefix}}card {{modifier_class}} text-center" style="line-height: 300px;">
			<div class="card-section">
				.default
			</div>
		</div>
	</div>
	<div class="col twocol">
		<div class="{{cssPrefix}}card {{modifier_class}} text-center rounded" style="line-height: 300px;">
			<div class="card-section">
				.rounded
			</div>
		</div>
	</div>
	<div class="col twocol">
		<div class="{{cssPrefix}}card {{modifier_class}} text-center no-border" style="line-height: 300px;">
			<div class="card-section">
				.no-border
			</div>
		</div>
	</div>
	<div class="col twocol">
		<div class="{{cssPrefix}}card {{modifier_class}} text-center rounded shadow" style="line-height: 300px;">
			<div class="card-section">
				.rounded.shadow
			</div>
		</div>
	</div>
	<div class="col twocol">
		<div class="{{cssPrefix}}card {{modifier_class}} text-center shadow" style="line-height: 300px;">
			<div class="card-section">
				.shadow
			</div>
		</div>
	</div>
	<div class="col twocol">
		<div class="{{cssPrefix}}card {{modifier_class}} text-center no-border shadow" style="line-height: 300px;">
			<div class="card-section">
				.no-border.shadow
			</div>
		</div>
	</div>
</div>
<hr/>