<div class="row">
	<div class="col threecol">
		<div class="{{cssPrefix}}cards {{modifier_class}} text-center" style="line-height: 300px;">.default</div>
	</div>
	<div class="col threecol">
		<div class="{{cssPrefix}}cards {{modifier_class}} text-center rounded" style="line-height: 300px;">.rounded</div>
	</div>
	<div class="col threecol">
		<div class="{{cssPrefix}}cards {{modifier_class}} text-center shadow" style="line-height: 300px;">.shadow</div>
	</div>
	<div class="col threecol">
		<div class="{{cssPrefix}}cards {{modifier_class}} text-center no-border" style="line-height: 300px;">.no-border</div>
	</div>
</div>
<hr/>