<form class="{{cssPrefix}}form">
  <div class="{{cssPrefix}}form-group">
    <label>Text Form Example</label>
    <input type="text" class="{{cssPrefix}}form-elem" placeholder="Placeholder text.."/>
  </div>
  <div class="{{cssPrefix}}form-group">
    <label>Textarea Form Example</label>
    <textarea class="{{cssPrefix}}form-elem"></textarea>
  </div>
  <div class="{{cssPrefix}}form-group">
    <label>Select Form Example</label>
    <select class="{{cssPrefix}}form-elem">
      <option value="null">Example Option</option>
    </select>
  </div>
</form>