<div class="row">
    <div class="col sixcol">
        <div class="{{cssPrefix}}panel {{modifier_class}}">
            <div class="panel-heading">{{modifier_class}} heading</div>
            <div class="panel-body">{{modifier_class}} body</div>
        </div>
    </div>
    <div class="col sixcol">
        <div class="{{cssPrefix}}panel {{modifier_class}}">
            <div class="panel-heading">{{modifier_class}} heading</div>
            <div class="panel-list">
                <div class="panel-list-item">
                    {{modifier_class}} list item
                </div>
                <div class="panel-list-item">
                    {{modifier_class}} list item
                </div>
                <div class="panel-list-item">
                    {{modifier_class}} list item
                </div>
                <div class="panel-list-item">
                    {{modifier_class}} list item
                </div>
                <div class="panel-list-item">
                    {{modifier_class}} list item
                </div>
            </div>
        </div>        
    </div>
</div>